---
title: Candy Crush is (NP-)Hard!
short_description: Interactive implementation of the reduction from 1-in-3 positive SAT showing that Bejeweled, Candy Crush and other match-three games are (NP-)Hard.
custom_css: style.css
custom_js: builder.js 
---
<div style="max-width: 1100px; margin: auto auto; padding: 20px; border-radius: 15px; background-color:#ffffff;">
    <h1>Bejeweled, Candy Crush and other match-three games are (NP-)Hard!</h1>

    <hr>
    <h2>What is this all about?</h2>

    <img src='logo.png' style='float: right' width='250' alt='Logo'>

    <p>This is an implementation of the reduction provided in the paper <a href="http://arxiv.org/abs/1403.5830"><i>Bejeweled, Candy Crush and other Match-Three Games are (NP)-Hard</i></a> which has been accepted for presentation at the <a href="http://www.cig2014.de/"><i>2014 IEEE Conference on Computational Intelligence and Games (CIG 2014)</i></a>. To find more about what NP-Hard means you can read <a href="http://www.scottaaronson.com/blog/?p=459">this blog post</a> or the corresponding <a href="http://en.wikipedia.org/wiki/NP-hard">page on Wikipedia</a>.</p>

    <h2>About the authors</h2>
    We are an Italian group of three people: <a href="http://www.mat.uniroma2.it/~guala/">Luciano Gualà</a>, <a href="https://www.stefanoleucci.com">Stefano Leucci</a>, and <a href="http://emanuelenatale.isnphard.com">Emanuele Natale</a>. We had the weird idea to spend our weekends proving that Candy Crush Saga is NP-Hard. We also thought that it was nice to put online an implementation of our hardness reduction... so here it is!

    <h2>Rules</h2>

    <p>Swap two adjacent gems in order to match three or more gems of the same kind. The matched gems will pop, and the gems above will fall.
    It is possible to have chains of pops.</p>

    <p>For a complete understanding of what's going on please read the paper on <a href="http://arxiv.org/abs/1403.5830">ArXiv</a>.<br/>
    <strong>In a nutshell (for those "tl;dr" folks):</strong> you can swap one or two gems on each choice wire from the top one to the bottom one, then you have to traverse the goal wire to reach the goal gem. Popping a wire means setting the corresponing variable to true.</p>

    <figure style='display: inline-block;'>
        <img src="assert.png" alt="Assert variable">
        <figcaption>Swap both gems to set a variable to true.</figcaption>
    </figure>
    <figure style='display: inline-block;'>
        <img src="negate.png" alt="Negate variable">
        <figcaption>Swap only the first gem to set a variable to false.</figcaption>
    </figure>

    <p>Start at the <a href="#" class="gadget_choice_wire" style="color: blue; font-weight: bold;" onclick="show_start(); return false;">choice wire for the first variable</a>. You will be able to pop the <a href="#" class="gadget_goal_gem" onclick="show_goal_gem(); return false;">goal gem</a> if and only if the formula is satisfable.</p>

    <h2>Try for yourself</h2>

    <p>Enter a <a href='https://en.wikipedia.org/wiki/Boolean_satisfiability_problem#Exactly-1_3-satisfiability'>1-in-3 positive SAT</a> formula*: 
    <input type="text" value=" x1  &amp;&amp; (x1 || x2)" size="35" id="formula"> 
    <input type="button" value="Generate Instance!" id="generate"><br/>
    <label><input type='checkbox' id='fill'>Fill the whole board.</label>  <label><input type='checkbox' id='usegems'>Use gems (experimental).</label>
    <label>Maximum fall speed:</label>            
    <input type = "radio" name = "fallspeed" id="fallslow" value = "slow" /> <label for = "fallslow">slow</label>
    <input type = "radio" name = "fallspeed" id="fallmedium" value = "medium" /> <label for = "fallmedium">medium</label>
    <input type = "radio" name = "fallspeed" id="fallfast" value = "fast"  checked = "checked" /> <label for = "fallfast">fast</label>
    <input type = "radio" name = "fallspeed" id="fallvfast" value = "vfast" /> <label for = "fallfast">very fast</label>.

    <p><small>*Actually, we also support formulae with less than three variables per clause (but not more).</small></p>

    <p>Can you pop the <a href="#" class="gadget_goal_gem" onclick="show_goal_gem(); return false;">goal gem</a>?</p>

    <noscript>Oh snap! You need to enable Javascript to view this page correctly.</noscript>

    <!--
        <div id='rawdiv' style='display: none'>
        <textarea id=rawtext rows="30" cols="50"></textarea><br/>
        <input type="button" value="Hide" onclick="document.getElementById('rawdiv').style.display = 'none';">
        </div> -->

        <div id='field_formula' class='field_formula'></div>

        <div id='field_container' style='float: left; display: none;'>
            <div id='pan_top' class="h_pan_area">t</div>
            <div id='pan_left' class="table v_pan_area">◄</div>
            <div id='field' class='table'></div>
            <div id='pan_right' class="table v_pan_area">►</div>
            <div id='pan_bottom' class="h_pan_area">b</div>
        </div>
        <div id='navigation_container' role="navigation" style='display: none; float: left; text-align:center;'>
            <div style="text-align:center; font-size: 16pt;">Score: <span id='score' ></span></div>

            <nav role="navigation">
                <h2>Quick field navigation:</h2>
                <ul id='gadgets_list' style='text-align: left;'>
                </ul>
            </nav>


        </div>        
        <div style='clear: both;'></div>
        <br>
        <script type="text/javascript">				
            function swap(i1, j1, i2, j2)
{
    var t = field[i1][j1].gem
    field[i1][j1].gem=field[i2][j2].gem
    field[i2][j2].gem=t

    t=field[i1][j1].type
    field[i1][j1].type=field[i2][j2].type
    field[i2][j2].type=t            
}

function find_pops()
{
    var ttl=0
    for(var i=h-1; i>=0; i--)
    {
        if(rows[i])
            ttl=30
        else if(ttl>0)
        {
            rows[i]=true
            ttl--
        }
    }

    var pops=[]
    for(var i=0; i<h; i++) 
    {
        if(!rows[i])
            continue

        var n=0
        var c='*'
        for(var j=0; j<w; j++)
        {
            if(c!='*' && c!='.' && field[i][j].gem==c)
            {
                n++
                if(n==3)
                {
                    pops.push([i, j-1])
                    pops.push([i, j-2])
                }
                if(n>=3)
                    pops.push([i,j])						
            }
            else
            {
                c=field[i][j].gem
                n=1
            }
        }
    }

    for(var j=0; j<w && j<=2; j++) //only for columns 0-2
    {
        var n=0
        var c='*'
        for(var i=0; i<h; i++)
        {
            if(c!='*' && c!='.' && field[i][j].gem==c)
            {
                n++
                if(n==3)
                {
                    pops.push([i-1, j])
                    pops.push([i-2, j])
                }
                if(n>=3)
                    pops.push([i,j])			
            }	
            else
            {
                c=field[i][j].gem
                n=1
            }
        }
    }

    return pops
}

function drop()
{
    for(var j=0; j<w; j++)
    {
        if(!columns[j])
            continue

        var next = h-1
        for(var i=h-1; i>=0; i--)
        {
            if(field[i][j].gem!='*')
            {
                if(next!=i)
                    field[next][j].gem=field[i][j].gem
                field[next][j].type=field[i][j].type
                next--
            }
        }

        while(next>=0)
        {
            field[next][j].gem='.'
            field[next][j].type=GadgetType.NONE
            next--
        }
    }
}

function willpop(x, y)
{
    var gem = field[x][y].gem

    if(gem=='.' || gem=='*')
        return false

    var n=0
    for(var i=Math.max(0,x-2); i<Math.min(h, x+3); i++)
    {
        if(field[i][y].gem==gem)
            n++
        else
            n=0

        if(n==3)
            return true
    }

    n=0
    for(var i=Math.max(0,y-2); i<Math.min(w, y+3); i++)
    {
        if(field[x][i].gem==gem)
            n++
        else
            n=0

        if(n==3)
            return true
    }

    return false
}

function can_swap(x, y)
{
    var gem = field[x][y].gem

    if(gem=='.' || gem=='*')
        return false

    var n=0
    for(var i=Math.max(0, x-3); i<Math.min(h, x+4); i++)
    {        
        if(i>=x-1 && i<=x+1)
        {
            n=0
            continue
        }

        if(field[i][y].gem==gem)
            n++
        else
            n=0

        if(n==2)
            return true
    }

    n=0
    for(var j=Math.max(0, y-3); j<Math.min(w, y+4); j++ )
    {
        if(j>=y-1 && j<=y+1)
        {
            n=0
            continue
        }

        if(field[x][j].gem==gem)
            n++
        else
            n=0

        if(n==2)
            return true
    }

    return false
}

function find_allowed_swaps()
{
    for(var i=camerax; i<camerax+camerah; i++)
    {
        for(var j=cameray; j<cameray+cameraw; j++)
        {
            var cell = document.getElementById('cell-'+(i-camerax)+'-'+(j-cameray))
            if(can_swap(i,j))
            {
                cell.style.boxShadow = '0 0 0 2px red inset'
            }
            else
                cell.style.boxShadow = '' 
        }
    }
}

var selected_cell=null
function cell_clicked(event)
{
    if(working)
        return

    var split=event.target.id.split('-')
    var i=parseInt(split[1])+camerax
    var j=parseInt(split[2])+cameray

    if(selected_cell != null)
    {
        var i2 = selected_cell[1]
        var j2 = selected_cell[2]

        selected_cell[0].style.backgroundColor=''
        selected_cell = null

        if(Math.abs(i-i2) + Math.abs(j-j2)==1)
        {
            swap(i, j, i2, j2)

            if( !willpop(i,j) && !willpop(i2,j2))
            {
                swap(i, j, i2, j2)
                return
            }

            columns[j]=true
            columns[j2]=true
            rows[i]=true
            rows[i2]=true
            do_pops()
        }

        return
    }

    selected_cell = [ event.target, i, j ]
    event.target.style.backgroundColor='red'
}

var fallspeed=40
function do_pops()
{
    working=true			
    pops = find_pops()

    for(var i=0; i<h; i++)
        rows[i]=false

    for (var i = 0; i < pops.length; i++)
    {
        field[pops[i][0]][pops[i][1]].gem='*'
        columns[pops[i][1]]=true
        rows[pops[i][0]]=true
        score++

        if(pops[i][0]==builder.goal_gem_location[0] && pops[i][1]==builder.goal_gem_location[1])
            alert('You won!')
    }

    document.getElementById('score').textContent=score
    update_field()

    if(pops.length==0)
    {
        working = false
        delay=500

        return
    }

    setTimeout(function(){ drop(); update_field(true); delay=Math.max(delay*9/10, fallspeed); setTimeout(do_pops, delay) }, delay)
}

function update_field(reset, all)
{			
    //document.getElementById('field').removeChild(table)

    for(var j=0; j<cameraw; j++)			
    {
        if(!columns[j] && all!=true)
            continue

        if(reset)
            columns[j]  = false


        for(var i=0; i<camerah; i++)
        {
            var cellx = camerax+i
            var celly = cameray+j
            var cell = document.getElementById('cell-'+i+'-'+j)

            if(!usegems || field[cellx][celly].gem=='.' || field[cellx][celly].gem=='*')
            {
                cell.innerHTML = field[cellx][celly].gem
                cell.style.backgroundImage = ''
            }
            else
            {
                cell.innerHTML = ''
                cell.style.backgroundImage = 'url(gems/'+field[cellx][celly].gem+'.svg)'
            }


            cell.className = field[cellx][celly].type
        }
    }

    //document.getElementById('field').appendChild(table)
    find_allowed_swaps()
}

function show(x, y)
{
    if(x!=null)
        camerax = Math.min(h-camerah, Math.max(0, x-(camerah*3/4)>>0))

    if(y!=null)
        cameray = Math.min(w-cameraw, Math.max(0, y-(camerah*1/2)>>0))

    update_field(false, true)
    update_pan_labels()
}

function show_goal_gem(event)
{
    show(builder.goal_gem_location[0], builder.goal_gem_location[1])
    document.getElementById('field_container').scrollIntoView()
    //event.preventDefault();
    //return false;
}

function show_start(event)
{
    show(builder.gadgets[1].row, 0)
    document.getElementById('field_container').scrollIntoView()
}


function gadget_navigation(event)
{
    var row = event.target.getAttribute("data-row")

    show(row, 0)

    event.preventDefault()
}

function empty(element)
{
    while(element.firstChild)
        element.removeChild(element.firstChild) 
}

function build_field()
{
    var frm = document.getElementById('field_formula')
    empty(frm)

    var s='Now playing: '
    for(var i=0; i<formula.length; i++)
    {
        s+=(i==0?'(':' ∧ (')
        for(var j=0; j<formula[i].length; j++)
        {
            s+=(j==0?'':' ∨ ')+'x<sub>'+formula[i][j]+'</sub>'
        }
        s+=')'
    }
    frm.innerHTML=s

    var f = document.getElementById('field')
    empty(f)

    var table = document.createElement('table')
    table.id='field_table'
    for(var i=0; i<camerah; i++)
    {
        var tr  = document.createElement('tr')
        for(var j=0; j<cameraw; j++)
        {
            td = document.createElement('td')
            td.id = 'cell-'+i+'-'+j
            //td.innerHTML = field[i][j].gem
            td.className = field[i][j].type
            td.onclick = cell_clicked
            tr.appendChild(td)
        }
        table.appendChild(tr)
    }
    f.appendChild(table)

    update_field(false, true)

    var gl = document.getElementById('gadgets_list')
    empty(gl)

    for(var i=0; i<gadgets.length; i++)
    {
        var li = document.createElement('li')
        var box = document.createElement('div')
        box.className = 'colorbox ' + gadgets[i].type
        var a = document.createElement('a')
        var text = document.createTextNode(gadgets[i].name);
        a.setAttribute("data-row", gadgets[i].row)
        a.href='#'
        a.onclick = gadget_navigation
        a.appendChild(box)
        a.appendChild(text)
        li.appendChild(a)
        gl.appendChild(li)
    }

    document.getElementById('field_container').style.display='inline-block'
    document.getElementById('navigation_container').style.display='inline-block'
}

/*
        document.getElementById('raw').onclick = function()
        {
            var str = ''
            for(i=0; i<h; i++)
            {
                for(j=0; j<w; j++)
                {
                    str+=field[i][j].gem
                }
                str+='\n'
            }

            document.getElementById('rawtext').value=str
            document.getElementById('rawdiv').style.display=''
        }*/

var panInterval = null
var panXoff=0
var panYoff=0

function update_pan_labels()
{
    document.getElementById('pan_top').textContent='▲ ('+ camerax +' rows above) ▲'
    document.getElementById('pan_bottom').textContent='▼ ('+ (h-camerax-camerah) +' rows below) ▼'
    //document.getElementById('pan_left_text').textContent='▲ ('+ cameray +' rows left) ▲'
    //document.getElementById('pan_right_text').textContent='▼ ('+ (w-cameray-cameraw) +' rows right) ▼'
}

function pan()
{
    var newx = camerax+panXoff
    var newy = cameray+panYoff

    newx = newx<0?0:newx;
    newx = newx>h-camerah?h-camerah:newx;

    newy = newy<0?0:newy;
    newy = newy>w-cameraw?w-cameraw:newy;

    if(newx!=camerax || newy!=cameray)            
    {
        if(selected_cell!=null)
        {
            selected_cell[0].style.backgroundColor=''
            selected_cell=null
        }

        camerax = newx
        cameray = newy
        update_field(false, true)

        update_pan_labels()

        return true
    }

    if(panInterval!=null)
        window.clearInterval(panInterval)

    return false

}

function startPan(xoff, yoff)
{
    panXoff = xoff
    panYoff = yoff

    if(pan())
        panInterval = window.setInterval(pan, 50);
}

function stopPan()
{
    if(panInterval!=null)
    {
        window.clearInterval(panInterval)
        panInterval=null
    }
}

function wheel(event)
{
    event.preventDefault()

    var delta = event.wheelDelta

    if(panInterval!=null || delta==0)
        return

    panXoff=3*(delta>0?-1:1)
    panYoff=0
    pan()
    update_field(false, true)
}

function parse_formula(formula)
{
    formula = formula.replace(/[\s\(\)]+/g, '')
    formula = formula.replace(/[∨\|]+/g, '|')
    formula = formula.replace(/[∧\&]+/g, '&')

    clauses = formula.split('&');

    var parsed_formula = []

    var var_mapping = []
    var numvars=0
    for(var i=0; i<clauses.length;i++)
    {
        var vars=clauses[i].split('|')

        var parsed_clause=[]
        for(var j=0; j < vars.length; j++)
        {
            if(!/^[A-Za-z]\w*$/.test(vars[j]))
                return null

            var v=vars[j]
            if( !(v in var_mapping) )
            {
                numvars++
                var_mapping[v]=numvars
            }

            if( parsed_clause.indexOf(var_mapping[v])==-1 )
                parsed_clause.push(var_mapping[v])
        }

        if(parsed_clause.length==0)
            continue

        if(parsed_clause.length>3)
            return null

        parsed_formula.push(parsed_clause)
    }


    if(parsed_formula.length>0)
        return {formula: parsed_formula, numvars: numvars}

    return null
}

usegems = false
function generate()
{ 
    var f=parse_formula(document.getElementById('formula').value)

    if(!f)
    {
        alert('There was a problem while parsing your formula')
        return
    }

    if(f.numvars>5)
    {
        if(!confirm("With more than 5 variables the field gets quite large.\n Do you want to proceed anyway?"))
            return
    }

    var fill = document.getElementById('fill').checked
    usegems = document.getElementById('usegems').checked

    formula = f.formula
    numvars = f.numvars
    builder = new Builder()
    builder.build(numvars, formula )
    field=builder.getMatrix(fill)

    gadgets = builder.gadgets

    w=field[0].length
    h=field.length

    if(panInterval!=null)
        window.clearInterval(panInterval)

    working=false
    score = 0
    delay=500

    cameraw = w<40?w:40
    camerah = h<30?h:30
    camerax = 0
    cameray = 0

    columns = []
    rows = []
    for(var i=0; i<w; i++)
        columns[i]=false

    for(var i=0; i<h; i++)
        rows[i]=false

    build_field()
    show(gadgets[1].row, null) //first choice wire
    rows[gadgets[1].row]=true
    do_pops()

}

document.getElementById('generate').onclick = generate

document.getElementById('fallslow').onchange = function() { fallspeed=400 }
document.getElementById('fallmedium').onchange = function() { fallspeed=100 }
document.getElementById('fallfast').onchange = function() { fallspeed=40 }
document.getElementById('fallvfast').onchange = function() { fallspeed=5 }

document.getElementById('pan_top').onmouseover = function() { startPan(-2, 0) }
document.getElementById('pan_bottom').onmouseover = function() { startPan(2, 0) }
document.getElementById('pan_left').onmouseover = function() { startPan(0, -2) }
document.getElementById('pan_right').onmouseover = function() { startPan(0, 2) }

document.getElementById('pan_top').onmouseout = stopPan
document.getElementById('pan_bottom').onmouseout = stopPan
document.getElementById('pan_left').onmouseout = stopPan
document.getElementById('pan_right').onmouseout = stopPan

document.getElementById('field').onmousewheel=wheel

generate()
        </script>
</div>

