---
title: Jelly-No Puzzle 1-color
short_description: Starting from 3PARTITION we create a playable level for Jelly-No Puzzle.
custom_js:
- p5.js
- js/reduction.js
- js/miscFunctions.js
- js/globalValues.js
- js/jelly.js
- js/wall.js
- js/sketch.js
---
<h1>Jelly-No Puzzle (1-color) is NP-complete</h1>
<hr>

<h2>Description of 3PARTITION problem</h2>
3PARTITION is the problem to decide if a multiset<sup>1</sup>, composed of integer values, can be partitioned in m groups of exactly 3 elements, each with equal sum.<br>
<br>
This means that our input instance must be of cardinality exactly 3m (we want to partition this multiset in m triplets).<br>
Furthermore the sum of all weights must be a multiple of m (we want to split it evenly into m triplets).<br>
We will use B to represent how big a single triplet is going to be.<br>
<br>
This reduction, however, puts a condition on the single value of every element in the multiset.<br>
Each element must be between B/2 and B/4. 3PARTITION with this condition remains NP-complete.<br>
<br>
The generated level will be a platform on the top right with all the elements from the input multiset plus a platform on the bottom left with exactly m spaces of length B.<br>
To win a game of Jelly-No Puzzle in this setting means to find a 3-partitioning of the input multiset.<br>
An algorithm that can solve in polynomial time the generated level of Jelly-No Puzzle can be used to solve 3PARTITION in polynomial time.<br>
<br>
<br>
<sup>1</sup>(a multiset is a set where there can be multiple instances of the same element)
<hr>

<h2>Play the reduction!</h2>
Select a jelly with your mouse and move with A and D keys.<br>
Insert a list of positive integers that are an instance of 3PARTITION separated with a comma.
<div style="display:flex">
  <textarea style="margin:10px;margin-left:0" id="ThreePartitionInput">3, 3, 3, 3, 4, 4, 4, 4, 5</textarea>
  <button onclick="generateLevel()" style="margin:10px">Generate level!</button>
</div>
<div id="myCanvasContainer"></div>
